<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1><%=error%></h1>
    <p>We currently working on it! Sorry for inconvenience</p>

<%- include('includes/end.ejs') %>